@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-primary-hover: #4338CA;
  --color-bg-color: #0f172a;
  --color-surface: #1e293b;
  --color-surface-hover: #334155;
  --color-text-main: #f8fafc;
  --color-text-muted: #94a3b8;
}

body {
  background-color: var(--color-bg-color);
  color: var(--color-text-main);
  min-height: 100vh;
}
